@page
@model intro_durs.Pages.Application.CopiaDeDiplomaReportadosModel
@{
}

@using intro_durs.Pages.Models

<!DOCTYPE html>

<head>
</head>


<html>
<body>

    <center>
        <h2>Solicitudes de Copias de Diploma</h2>
        <p>&nbsp;</p>




        <table class="table table-bordered table-hover" style="margin-left:-85px">
            <thead class="thead-dark">
                <tr class="info">
                    <th style="text-align:center">Full Name</th>
                    <th style="text-align:center">Email</th>
                    <th style="text-align:center">Phone</th>
                    <th style="text-align:center">Degree</th>
                    <th style="text-align:center">Graduation Year</th>
                    <th style="text-align:center">Student Program</th>
                    <th style="text-align:center">Signature</th>
                    <th style="text-align:center">Date</th>


                </tr>
            </thead>
            @foreach (var i in ViewData["TblCopiaDeDiploma"] as IList<spCopiaDeDiploma>)
            {
                <tr class="active">

                    <td>@i.strFullName</td>
                    <td>@i.strEmail</td>
                    <td>@i.strPhone</td>
                    <td>@i.strDegree</td>
                    <td>@i.strGradYear</td>
                    <td>@i.strStudentProgram</td>
                    <td>@i.strSignature</td>
                    <td>@i.date</td>
                    
                </tr>


            }





        </table>
    </center>

</body>



</html>
