@page
@model intro_durs.Pages.Forms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Form</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.StudentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.Faculty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.Faculty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.Specialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.Specialty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.GradDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.GradDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Form.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
